<h1>Mis proyectos</h1> 
<%= link_to 'Nuevo Proyecto', new_project_path %>

<ul>
     <% @projects.each do |project| %>
        <li>
        <%= link_to project.title, project %>
        <%= link_to 'Editar', edit_project_path(project) %>
        <%= link_to 'Eliminar', project, method: :delete, data: { confirm: '¿Estás seguro?' } %>
        </li>
    <% end %>
</ul>