/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "font-awesome";
@import "custom_styles";
body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgba(255, 218, 185, 0.5);
    color: #555555;
    font-family: Arial, sans-serif;
}

h1{
    color: #4B0082;
}

ul {
    list-style-type: none; 
    padding: 0;
}

li {
    padding: 10px 0;
    border-bottom: 1px solid #dddddd; 
}

a {
    display: inline-block;
    text-decoration: none;
    border-bottom: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-right: 10px;
  }

.main-container{
    width: 80%;
    max-width: 600px;
    padding: 20px;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    text-align: center; 
    border-color: rgba(255, 182, 193, 0.8);
    color: rgba(85, 85, 85, 1);
}


.alert{
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.notice{
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}

.error{
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.button-link {
    display: inline-block;
    text-decoration: none;
    background-color: #0056b3; 
    color: #FFFFFF; 
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.button-link:hover {
background-color: #004080; 
color: #FFFFFF; 
}

.log-out-link{
    float: right;
    margin: 0;
    padding: 0;
}

.home-link{
    float: left;
    margin: 0;
    padding: 0;
}