/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "font-awesome";
 @import "custom_styles";
 body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(to right, #832161, #f0a6ca);
 }

 .main-container{
    width: 80%;
    max-width: 600px; /* Ancho máximo del contenedor */
    padding: 20px;
    background-color: #ffffff; /* Color de fondo del contenedor */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra para resaltar el contenedor */
    text-align: center; /* Centrar el contenido dentro del contenedor */
}

ul {
    list-style-type: none; /* Quitar los puntos de la lista */
    padding: 0;
}

li {
    padding: 10px 0;
    border-bottom: 1px solid #dddddd; /* Línea separadora entre elementos de la lista */
}

a{
    text-decoration: none;
}

.alert{
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.notice{
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}