input[type="text"], input[type="email"], input[type="password"] {
    width: 50%; 
    padding: 10px; 
    margin: 10px 0; 
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
}


input[type="text"]:focus {
  border-color: #007BFF; 
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
  outline: none;
}


input[type="submit"], button {
  width: 25%; 
  padding: 10px;
  background-color: #ADD8E6;
  color: rgba(0, 0, 0, 0.7);
  border: none;
  border-radius: 5px; 
  font-size: 16px; 
  cursor: pointer;
  transition: background-color 0.3s; 
}
input[type="submit"]:hover, input[type="submit"]:focus{
  background-color: #87CEEB; 
  outline: none; 
}

button:hover, button:focus {
  background-color: #87CEEB; 
  outline: none;
}

.project-container{
  background-color: #FFF5EE; 
  border: 1px solid #FFB6C1; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 15px;
}

h2 {
  color: #4B0082; 
  margin-top: 0;
}


h2 a {
  color: inherit;
  text-decoration: none;
  border-bottom: none; 
  transition: color 0.3s ease;
}

h2 a:hover {
  color: #87CEEB; 
  border-bottom: none;
}


.edit-link {
  background-color: #ADD8E6; 
  color: #FFFFFF; 
}

.edit-link:hover {
  background-color: #87CEEB; 
  color: #FFFFFF; 
}


.delete-link {
  background-color: #FF6347; 
  color: #FFFFFF; 
}

.delete-link:hover {
  background-color: #FF4500; 
  color: #FFFFFF; 
}

.styled-checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #666666; /* Color del borde */
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  vertical-align: middle;
  position: relative; /* Añadimos posición relativa para alinear la palomita */
}

/* Estilo para el checkbox cuando está marcado */
.styled-checkbox:checked {
  background-color: #336699; /* Color de fondo cuando está marcado */
  border-color: #336699; /* Color del borde cuando está marcado */
}

/* Estilo para la palomita */
.styled-checkbox:checked::before {
  content: '\2713'; /* Unicode para la palomita */
  font-size: 16px;
  color: #FFFFFF; /* Color de la palomita */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.completed {
  text-decoration: line-through;
  color: gray;
}